# .gitignore pour projet Unity 
[Ll]ibrary/ 
[Tt]emp/ 
[Oo]bj/ 
[Bb]uild/ 
[Bb]uilds/ 
[Ll]ogs/ 
[Uu]serSettings/ 
.vs/ 
*.csproj 
*.unityproj 
*.sln 
*.suo 
*.tmp 
*.user 
*.userprefs 
*.pidb 
*.booproj 
*.svd 
*.pdb 
*.mdb 
*.opendb 
*.VC.db 
.DS_Store 
.idea/ 
*.apk 
*.aab 
push.bat 
Init.bat 
init-unity-git.bat 
